<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define a Bean -->
    <bean id="petrolEng" class="in.springdemo.bean.PetrolEngine"/>
     
     <bean id="dieselEng" class="in.springdemo.bean.DieselEngine"></bean>
        
    <bean id="car" class="in.springdemo.bean.Car" >
    	<property name="eng" ref="dieselEng"></property>
    	<constructor-arg name="eng" ref="petrolEng"></constructor-arg>
	</bean>
</beans>
